

html, body{
    margin:0;
    font-family:'source sans pro';
    font-size: 16px;
}
main{
    padding: 1rem 4rem;
    margin-left:5rem;
    text-align: justify;
}
.logo{
  width: 100px;
  height: 50px;
}
.image{
  height: 500px;
  width: 100%;
  margin-top: 50px;
}
h4{
  color: #fff;
}
.images{
  margin-top: 10px;
}
.navbar{
    background-color: #fff;
    position:absolute;
   
    height: 50px;
    min-width: 100%;  
    top: 0;
    
}
.nav-link, .navbar-brand{
  color: black;
  margin: 30px;

}

.fas{
 margin: 120px;
  color: black;
}
h1{
  text-align: center;
  margin-top: 100px;
  margin-left: 0;
 
   
}


p{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color:black;
   
}


.apage-item{
    margin-top: 10px;
    background-color: lightcoral;
}


p{
    text-align: center;
    margin-top: 80px;
    color:black;
     
}
.list {
    list-style: none;
    text-decoration: none;
}
.list-title{
    color: black;
   
   
}
a{
    text-decoration: none;
    margin-left: -30px;
}
a .list-title:hover {
    color: #003a63;
  }
.btn{
    background-color: #f3f3f3;
 margin-top: 0px;
 margin-bottom: 30px;
 margin-left: -10px;
}

.row{
    margin-top: 0;
}
.card{
    margin-top: 20px;
}
.footer-clean {
  position:relative;
  left: 0;
  bottom: 0;
  min-width: 100%;

  
  background-color: #003a63;
  color: white;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  
}
.item{
  margin-top: 20px;
}

  .parag{
      margin-top: 0;
      text-align: left;
      color: black;
  }
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color: #fff;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    margin-right: 10px;
    color: #fff;
  }
  ul p{
    color: #fff;
  }
  .parag{
    color: #fff;
  }
  .add::before{
    content:'';
    top:0;
    bottom: 0;
    left:0;
    right:0;
    position: absolute;
    z-index:-1;
    background-color: var(#867a33);

  }
  .add{
    z-index:1;
  }

  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  

  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
    color: black;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  

  nav input{
    display: none;
  }
  nav label{
    display: none;
  }
  .badge{
    background-color: #e98d04;
    margin-left: -20;
    
  }
  .container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }
  .container .card{
    max-width: 300px;
    position: relative;
    height: 215px;
    background-color: #003a63;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 5);
    transition: 0.3s ease-in-out;
  }
  .container .card:hover{
    height: 320px;
  }
  .container .card .imgs img{
   max-width: 100%;
   border-radius: 4px;
  }
  .container .card .imgs{
    position: relative;
    width: 180px;
    height: 200px;
    top: -40px;
    left: -6px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 2);
  }
  .container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }
  /*******panier*****/
  .products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
    
  

    }
    .add{
      
      border: none;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: inset 0 0 0 0 #e98d04;
      transition: ease-out 0.3s;
      
    }
    .add:hover{
      box-shadow: inset 300px 0 0 0 #e98d04;
      cursor: pointer;

    }
   
    .products-container .fas{
      font-size: 25px;
      color:#003a63;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
      border-bottom: 1 solid lightgrey;
      height: 50px;
      
  }

 
  .product-header{
    width: 100%;
    max-width: 650px;
    justify-content: flex-start;
    display: flex;
    border-bottom:4px solid lightgrey;
    margin: 0 auto;
   background-color: #ccc;

  }
  .product-title{
    width: 45%;
    border-bottom: 1 solid lightgrey;
    background-color: #ccc;
  }
  .price{
    width: 15%;
    border-bottom: 1 solid lightgrey;
    display: flex;
    align-items: center;
    background-color: #ccc;
  }
  .quantity{
    width: 30%;
    border-bottom: 4 solid lightgrey;
    display: flex;
    align-items: center;
    background-color: #ccc;
  }
.total{
  width: 10%;
  border-bottom: 4 solid lightgrey;
  display: flex;
  align-items: center;
  align-items:center;
  background-color: #ccc;


}
.product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding: 10 px 0;
  border-bottom: 1px solid lightgrey;
  background-color: #ccc;
}
.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;

}
.products img{
  width: 75px;
  

}
*body{
  background-color: #c2924a;
}
.bascketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  color: #111;
  
  

}
.bascketTotalTitle{
  width: 30%;
  color: black;
}
h4{
  color: #111;
}

.bascketTotal{
  width: 10%;

  align-items: center;
  color: #111;
}
.retour{
  background-color: #003a63;
  color: #111;
  margin-top: 10px;
  
}
.valider{

 background-color: #003a63;
  color: #111;
  margin-top: 10px;
 justify-content: flex-end;
 justify-content: flex-end;
 align-items: flex-end;
 margin-left: 500px;
}


  
  
  











